[submodule "subprojects/absl"]
	path = subprojects/absl
	url = https://github.com/abseil/abseil-cpp.git
[submodule "subprojects/googletest"]
	path = subprojects/googletest
	url = https://github.com/google/googletest.git
