[submodule "subprojects/absl"]
	path = subprojects/absl
	url = git@github.com:abseil/abseil-cpp.git
[submodule "subprojects/googletest"]
	path = subprojects/googletest
	url = git@github.com:google/googletest.git
