ashuffle.dSYM
*.o
*.swp

# Exclude generated Go packages.
t/integration/pkg/**
t/integration/src/github.com/**

# Common meson build directory
build/**

# The default meta binary created by `go build`
tools/meta/meta
